@use '../../../styles/base/variables' as *;

.section-title {
    color: $color-lavender;
    position: relative;
    display: inline-block;
    font-weight: $font-bold;

    &::before {
        content: '.⋆.･';
        position: absolute;
        bottom: 0;
        right: -50px;
        font-family: $font-title;
        color: $color-yellow;
        letter-spacing: 1px;
        font-weight: $font-regular;
    }

    &.large {
        font-size: 3rem;
        margin-top: 60px;

        &::before {
            right: -50px;
        }
    }

    &.small {
        font-size: 2rem;
        margin-bottom: 8px;

        &::before {
            content: '.⋆.･';
            right: -35px;
        }
    }
}