@use '../../../styles/base/variables' as *;

.content-card {
    display: flex;
    white-space: pre-line;

    .card-list {
        display: flex;
        flex-direction: column;
        flex: 1;

        &__title {
            font-size: 1.8rem;
            font-weight: $font-bold;
        }

        &__period {
            font-size: 1.4rem;
            margin: 6px 0;
        }

        &__subtitle {
            font-size: 1.1rem;
            color: $color-gray-100;
            font-weight: $font-bold;
        }

        &__project-type {
            font-size: 1.1rem;
            color: $color-gray-200;
            font-weight: $font-bold;
            margin-top: 6px;
        }
    }

    .card-details {
        flex: 1;
    
        &__item {
            display: flex;
            flex-direction: column;
            margin-bottom: 6px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &__description {
            position: relative;
            line-height: 1.4;
            // white-space: pre-line;

            &--with-bullet {
                padding-left: 14px;

                & + .card-details__skill {
                    padding-left: 14px;
                }
                
                &::before {
                    content: '';
                    position: absolute;
                    top: 0.7rem;
                    left: 0;
                    width: 5px;
                    height: 5px;
                    background-color: $color-black;
                    border-radius: 50%;
                }
            }

            &[data-indent='double'] {
                padding-left: 35px;

                &.card-details__description--with-bullet {
                    &::before {
                        left: 20px;
                        background-color: transparent;
                        border: 1px solid $color-black;
                    }
                }
            }
        }

        &__href {
            opacity: 0.7;
            text-decoration: underline 0.5px $line-gray;
            text-underline-offset: 3px;
            transition: all 0.2s ease-in-out;
            font-weight: $font-semibold;

            &:hover {
                opacity: 1;
                text-decoration-color: $color-black;
            }
        }

        &__skill {
            display: inline-flex;
            flex-wrap: wrap;
            gap: 5px;
            margin-top: 6px;
        }
    }
}