@font-face {
	font-family: 'GmarketSans';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff')
		format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'GmarketSans';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

// font functions
@function rem($px) {
    @return $px * 0.1rem;
}

// font family
$font-primary: 'Noto Sans', sans-serif;
$font-title: 'GmarketSans', sans-serif;

// colors
$color-black: #222222;
$color-white: #ffffff;
$color-gray: #989898;
$color-gray-100: #868686;
$color-gray-200: #C6C6C6;
$color-lavender: #C2C2DB;
$color-yellow : #FFCF86;
$line-gray: #ACACAC;
$line-graylight: #E3E3E3;


// font weights
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;